<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phoenix chat</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body data-js-view-name="<%= page_id(@conn) %>">
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <%= img_tag("/images/logo.png") %>
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><%= link gettext("Rooms"), to: room_path(@conn, :index) %></li>
                <%= if user_is_admin(@conn) do %>
                  <li><%= link gettext("Create a room"), to: room_path(@conn, :new) %></li>
                <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= Gettext.get_locale(Chat.Gettext) %> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link "English", to: page_path(@conn, :set_locale, %{locale: "en", redirect_path: @conn.request_path}) %></li>
                    <li><%= link "Russian", to: page_path(@conn, :set_locale, %{locale: "ru", redirect_path: @conn.request_path}) %></li>
                  </ul>
                </li>
                <%= if @conn.assigns[:current_user] do %>
                  <li><%= link gettext("Sign out"), to: user_path(@conn, :logout) %></li>
                <% else %>
                  <li><%= link gettext("Sign in"), to: user_path(@conn, :login) %></li>
                  <li><%= link gettext("Sign up"), to: user_path(@conn, :new) %></li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>

      <div class="container" role="main">
        <%= render @view_module, @view_template, assigns %>
      </div>

    </div> <!-- /container -->
    <%= if @conn.assigns[:current_user] do %>
      <script>
        window.chat = {
          token: "<%= @conn.assigns.current_user.token %>",
          username: "<%= @conn.assigns.current_user.username %>"
        }
      </script>
    <% end %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
